body {
  border: 10px black;
  text-align: center;
}

.galeria {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

 .dibujo {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

.pixelart:hover{
  cursor: pointer;
}

.pixelart{
  position: relative;
}

.pixelart .firma{
  max-width: 50%;
  position:absolute;
  z-index: 3;
}

.pixelart .bottom-right{
  bottom: 5px; 
  right: 5px;
}

.pixelart .firma-negra {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

